# Python artifacts
*.pyc
*.pyo
__pycache__/
*.egg-info
dist/
*.log
api/venv/
*.db.sqlite3
*.sqlite3

# React / Node artifacts
frontend/node_modules/
frontend/.env
frontend/.cache
frontend/build/
frontend/public/assets

# IDEs / Editors
.vscode/
.idea/
*.code-workspace
*.iml
*.swp
*.swo

# OS-specific artifacts
.DS_Store
Thumbs.db

.env
.pytest_cache
