# Python artifacts
*.pyc
*.pyo
__pycache__/
*.egg-info
dist/
*.log
api/venv/
*.db.sqlite3
*.sqlite3

# React / Node artifacts
frontend/node_modules/
frontend/.env
frontend/.cache
frontend/build/
frontend/public/assets

# IDEs / Editors
.vscode/
.idea/
*.code-workspace
*.iml
*.swp
*.swo

# OS-specific artifacts
.DS_Store
Thumbs.db

.env
.pytest_cache

# Node (for your React frontend)
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android (for your mobile/ directory)
*.apk
*.ap_
*.aab
*.dex
*.class
*.o
*.so

# Gradle files
.gradle/
build/

# Android Studio
.idea/
*.iml
*.hprof
local.properties


*.bak
