[Unit]
Description=LiberLife Service
After=network.target

[Service]
Type=simple
User=cary
WorkingDirectory=/home/cary/liberlife
ExecStart=/bin/sh -c '/home/cary/liberlife/shell.sh uvistart'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
