[Unit]
Description=LiberLife Service
After=network.target

[Service]
Type=simple
User=cary
WorkingDirectory=/home/cary/liberlife
Environment="LIBLIFE_ENV=prod"
ExecStart=/bin/sh -c ". /home/cary/liberlife/.envs/prod.env && \
    cd /home/cary/liberlife && \
    uvicorn api.app.main:app --port $API_PORT --host $API_HOST --reload"

[Install]
WantedBy=multi-user.target
