[Unit]
Description=LiberLife Service
After=network.target

[Service]
Type=simple
User=cary
WorkingDirectory=/home/cary/liberlife
Environment="LIBLIFE_ENV=prod"
Environment="VIRTUAL_ENV=/home/cary/liberlife/venv"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"

ExecStart=". /home/cary/liberlife/venv/bin/activate && \
    . /home/cary/liberlife/.envs/prod.env && \
    . /home/cary/liberlife/shell.sh && \
    which python3 && \
    which gunicorn && \
    echo $LIBLIFE_ENV && \
    env"

Restart=never

[Install]
WantedBy=multi-user.target
